# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# VS Code
.vscode/
*.code-workspace

# Environment
env/
venv/
backend/env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest Cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Mongo dump (optional)
dump/
*.bson
*.gz

# Docker
*.pid
*.sock

# Frontend cache (optional)
node_modules/

# Ignore sensitive app files
prompt_tracker.json
new-ec2-key.pem
new-ec2-key.pem.pub